<?xml version="1.0"?>
<Project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <propertyGroup>
    <StartProgram>H:\StarClient_en\simulator\win32\StarClient.exe</StartProgram>
    <StartArguments />
    <StartWorkingDirectory>H:\StarClient_en</StartWorkingDirectory>
  </propertyGroup>
</Project>