<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>CityScene/sfx/city_1/city_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{388,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{388,156}</string>
			</dict>
			<key>CityScene/sfx/city_1/hongdeng.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,0},{54,54}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>CityScene/sfx/city_1/huangdeng.png</key>
			<dict>
				<key>frame</key>
				<string>{{799,28},{27,12}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,17}</string>
			</dict>
			<key>CityScene/sfx/city_1/landeng.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,179},{12,10}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{18,15}</string>
			</dict>
			<key>CityScene/sfx/city_1/lanseguangyun.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,0},{128,128}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,131}</string>
			</dict>
			<key>CityScene/sfx/city_1/lansexuanrao_0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{473,180},{10,7}}</string>
				<key>offset</key>
				<string>{6,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,39}</string>
			</dict>
			<key>CityScene/sfx/city_1/lansexuanrao_0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{985,0},{27,24}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,39}</string>
			</dict>
			<key>CityScene/sfx/city_1/lansexuanrao_0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,179},{35,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,39}</string>
			</dict>
			<key>CityScene/sfx/city_1/lansexuanrao_0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,155},{40,28}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,39}</string>
			</dict>
			<key>CityScene/sfx/city_1/lansexuanrao_0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,176},{36,27}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,39}</string>
			</dict>
			<key>CityScene/sfx/city_1/lansexuanrao_0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{959,0},{26,25}}</string>
				<key>offset</key>
				<string>{-9,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,39}</string>
			</dict>
			<key>CityScene/sfx/city_1/lansexuliedeng_1_0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{728,32},{7,3}}</string>
				<key>offset</key>
				<string>{43,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,41}</string>
			</dict>
			<key>CityScene/sfx/city_1/lansexuliedeng_1_0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{474,155},{25,11}}</string>
				<key>offset</key>
				<string>{36,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,41}</string>
			</dict>
			<key>CityScene/sfx/city_1/lansexuliedeng_1_0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{917,0},{42,18}}</string>
				<key>offset</key>
				<string>{29,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,41}</string>
			</dict>
			<key>CityScene/sfx/city_1/lansexuliedeng_1_0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,86},{56,23}}</string>
				<key>offset</key>
				<string>{22,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,41}</string>
			</dict>
			<key>CityScene/sfx/city_1/lansexuliedeng_1_0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,54},{70,27}}</string>
				<key>offset</key>
				<string>{15,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,41}</string>
			</dict>
			<key>CityScene/sfx/city_1/lansexuliedeng_1_0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,0},{81,28}}</string>
				<key>offset</key>
				<string>{8,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,41}</string>
			</dict>
			<key>CityScene/sfx/city_1/lansexuliedeng_1_0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,33},{91,32}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,41}</string>
			</dict>
			<key>CityScene/sfx/city_1/lansexuliedeng_1_0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,0},{90,33}}</string>
				<key>offset</key>
				<string>{-6,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,41}</string>
			</dict>
			<key>CityScene/sfx/city_1/lansexuliedeng_1_0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{548,33},{80,33}}</string>
				<key>offset</key>
				<string>{-14,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,41}</string>
			</dict>
			<key>CityScene/sfx/city_1/lansexuliedeng_1_0011.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,0},{72,32}}</string>
				<key>offset</key>
				<string>{-18,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,41}</string>
			</dict>
			<key>CityScene/sfx/city_1/lansexuliedeng_1_0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,124},{56,30}}</string>
				<key>offset</key>
				<string>{-26,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,41}</string>
			</dict>
			<key>CityScene/sfx/city_1/lansexuliedeng_1_0013.png</key>
			<dict>
				<key>frame</key>
				<string>{{439,128},{47,27}}</string>
				<key>offset</key>
				<string>{-31,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,41}</string>
			</dict>
			<key>CityScene/sfx/city_1/lansexuliedeng_1_0014.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,0},{35,22}}</string>
				<key>offset</key>
				<string>{-37,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,41}</string>
			</dict>
			<key>CityScene/sfx/city_1/lansexuliedeng_1_0015.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,22},{17,15}}</string>
				<key>offset</key>
				<string>{-44,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,41}</string>
			</dict>
			<key>CityScene/sfx/city_1/lansexuliedeng_2_0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,33},{53,25}}</string>
				<key>offset</key>
				<string>{8,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{81,39}</string>
			</dict>
			<key>CityScene/sfx/city_1/lansexuliedeng_2_0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{633,54},{60,27}}</string>
				<key>offset</key>
				<string>{5,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{81,39}</string>
			</dict>
			<key>CityScene/sfx/city_1/lansexuliedeng_2_0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,32},{68,29}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,39}</string>
			</dict>
			<key>CityScene/sfx/city_1/lansexuliedeng_2_0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{813,0},{69,31}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,39}</string>
			</dict>
			<key>CityScene/sfx/city_1/lansexuliedeng_2_0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,28},{67,30}}</string>
				<key>offset</key>
				<string>{-3,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,39}</string>
			</dict>
			<key>CityScene/sfx/city_1/lansexuliedeng_2_0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{548,113},{62,28}}</string>
				<key>offset</key>
				<string>{-6,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{81,39}</string>
			</dict>
			<key>CityScene/sfx/city_1/lansexuliedeng_2_0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,128},{51,27}}</string>
				<key>offset</key>
				<string>{-12,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,39}</string>
			</dict>
			<key>CityScene/sfx/city_1/lansexuliedeng_2_0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,155},{46,24}}</string>
				<key>offset</key>
				<string>{-14,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,39}</string>
			</dict>
			<key>CityScene/sfx/city_1/lansexuliedeng_2_0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{985,24},{32,18}}</string>
				<key>offset</key>
				<string>{-20,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,39}</string>
			</dict>
			<key>CityScene/sfx/city_1/lansexuliedeng_2_0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{945,18},{21,13}}</string>
				<key>offset</key>
				<string>{-26,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{81,39}</string>
			</dict>
			<key>CityScene/sfx/city_1/lansexuliedeng_2_0011.png</key>
			<dict>
				<key>frame</key>
				<string>{{811,28},{2,3}}</string>
				<key>offset</key>
				<string>{30,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,39}</string>
			</dict>
			<key>CityScene/sfx/city_1/lansexuliedeng_2_0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{958,25},{18,15}}</string>
				<key>offset</key>
				<string>{24,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,39}</string>
			</dict>
			<key>CityScene/sfx/city_1/lansexuliedeng_2_0013.png</key>
			<dict>
				<key>frame</key>
				<string>{{917,18},{28,20}}</string>
				<key>offset</key>
				<string>{20,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,39}</string>
			</dict>
			<key>CityScene/sfx/city_1/lansexuliedeng_2_0014.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,191},{37,22}}</string>
				<key>offset</key>
				<string>{16,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{81,39}</string>
			</dict>
			<key>CityScene/sfx/city_1/lansexuliedeng_2_0015.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,128},{48,24}}</string>
				<key>offset</key>
				<string>{11,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{81,39}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>city_1.png</string>
			<key>realTextureFileName</key>
			<string>city_1.png</string>
			<key>size</key>
			<string>{1017,228}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1017</integer>
			<key>height</key>
			<integer>228</integer>
		</dict>
	</dict>
</plist>